
.dropdown{
 
    height: 100%;
    /* width: 355px; */

    top: 80px;

    list-style: none;
    text-align: center;
    margin-left: -4rem;
}
.dropdown li  {
 
    list-style: none;
    margin: .8rem;


  }
.dropdown li a {
    color: #3e8fe5;
    cursor: pointer;
    font-size: 1.2rem;

}
.dropdown li a:hover {
    color: #f5a700;
 

}




@media screen and (min-width: 1170px)  {
     .dropdown{
    position:absolute;
    
} 
.dropdown li  {
 
  
    margin: 0rem;

  }
  .dropdown li a {
    color: #3e8fe5;
    cursor: pointer;
    font-size: 1rem;
    padding: .2rem;
    text-align:start;
    

}
.dropdown{
    margin-top: -1rem;
    margin-left: -3rem;
    background-color: #f2f2f2;
/* height: 20rem;
width: 15rem; */
padding: 0;
display: inline-block;
width: 200px;
height: auto;
}
.drop-menu.active{
    display: none;
}
}