.nav-desktop {
  display: none;
}
.nav-menu a:hover {
  color: #555;
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  height: 60px;
  padding-top: 30px;
  margin-top: 0rem;

}
/* .nav-mobile {
  margin-top: 0;


} */

.nav-menu {
  font-weight: bold;
  color: #007bff;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.3rem;

  /* ======= */
}
.nav-links {
  list-style-type: none;



  padding: 2rem;
  display: block;
  transition: color 0.3s ease;
  margin-top: 6rem;
}
.nav-links h1{
  margin-left: -2rem;
}
.nav-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  margin-left: 0rem;
}
.nav-menu.active .nav-links {
  display: none;
}

.nav-logo-mobile {
  text-decoration: none;
  list-style-type: none;
  margin-top: -1.5rem;
  margin-left: -1.5rem ;

}
.menu-icon {
  position: fixed;
  right: 0;
  margin: 1rem 3.5rem;
  font-size: 3rem;
  top: 0;
  list-style-type: none;
z-index: 10000;
}

.title-mobile-menu{
  margin-top: -10rem;
}
/* @media screen and (max-width: 1169px){
  .nav-logo- {
    text-decoration: none;
    list-style-type: none;
    margin-top: -1rem;
    margin-left: -2rem !important;
  
  }
} */

@media screen and (min-width: 1170px) and (max-width: 1450px) {
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    /* display: inline; */
    position: fixed;
    width: 100%;
    top: 0;
background-color: aqua;
    z-index: 1000;
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 80px;
    margin-bottom: 0rem;
  }
  .nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* position: fixed; */
    background-color: #fff;
    top: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    /* width: 200vh; */

    /* width: 100vh; */
    /* width: 100%; */
  }
  .nav-menu {
    position: fixed;
  }
  .nav-links {
    list-style-type: none;
    display: inline-block;
    margin-right: .1rem;
    margin-top: 0;
    padding: 0;
  }
  .nav-menu a {
    text-decoration: none;
    color: #1b61d8;
    padding: 10px 10px !important;
    display: block;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  .menu-icon {
    display: none;
  }
  .nav-links .dropdown {
    display: none;
  }

  .nav-links.active .dropdown {
    display: block;
  }
}
.nav-logo-desktop {

  margin-left: 1rem ;
  text-decoration: none;
  list-style: none;

}


@media screen and (min-width: 1451px) {
  .nav-mobile {
    display: none;
  }
  .nav-fixed {
    display: none;
  }
  .nav-desktop {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 220vh;

    height: 80px;
    padding-bottom: .5rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10rem;
    margin-bottom: 0rem;
  }
  .nav-links {
    list-style-type: none;
    display: inline-block;
    margin-right: 2rem;
    margin-top: 0;
    padding: 0;
    margin-left: 1.2rem;
  }
  .nav-menu a {
    text-decoration: none;
    color: #1b61d8;
    font-size: 1.3rem;
    padding:.5rem .2rem;
    display: block;
    transition: color 0.3s ease;
  }
  .nav-menu a:hover {
    color: #f5a700;
  }
  .menu-icon {
    display: none;
  }
  .nav-links .dropdown {
    display: none;
  }

  .nav-links.active .dropdown {
    display: block;
  }
  .nav-logo-desktop {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -2rem;
    margin-right: 2rem;
  height: 100%;
  }
}
